body {
    padding: 0;
    margin: 0;
}

.section-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.overlay {
    text-align: center;
}

.subtitle {
    background-color: #fff !important;
}

.bottom-para {
    font-size: 0.8em;
    margin-bottom: 2em;
}

.bottom-para a {
    text-decoration: none;
    color: #fff;
}

.main-section {
    position: absolute;
    top: 6.9rem;
}

@media screen and (max-width:768px) {
    .mobile-bg-img-container img {
        top: -7rem !important;
    }
}

@media screen and (min-width:768px) {}