@import url("https://use.typekit.net/tmp6bcj.css");

:root {
    --black: #272A31;
    --red: #ec5242;
    --grey: #d3d3d3;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "lato", sans-serif;
}

.greet,
.header {
    color: var(--red);
}

.title {
    /* font-size: 72px; */
    background: -webkit-linear-gradient(var(--red), var(--black));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2em;
    font-weight: 700;
}

.subtitle {
    border: 3px solid white;
    background-color: #f4f4f4;
    color: #272a31;
    padding: 1em 0.5em;
}

.greet {
    font-weight: 500;
    font-size: 1.3em;
}

.header {
    font-size: 1.7em;
    font-weight: 600;
}

.venue {
    font-size: 1.25em;
}

.date {
    font-weight: 900;
    font-size: 1.8em;
    color: #272a31;
}

.program-contents-container {
    background-image: url('../images/bg-images/pattern_bg.png');
    background-color: #272a31;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    align-items: center;
    position: absolute;
    top: 100%;
    color: #fff;
}

.program-content>h2 {
    padding: 1.25em 0;
    color: white;
}

.underline {
    height: 1px;
    background-color: #ec5242;
    width: 2em;
    margin: 0.5em auto;
}

.program-card {
    margin: 2rem;
    background-color: rgba(211, 211, 211, 0.1);
}

.program-card>img {
    width: 2.5rem;
}

.program-card h3 {
    font-size: 1em;
    font-weight: 700;
    width: 8ch;
    color: var(--red);
}

.program-details-link {
    color: var(--grey);
    text-decoration: none;
}

.join-btn {
    background: #ec5242;
    margin: 3em;
    border: none;
    padding: 1.25em 2em;
    font-size: 1em;
    color: white;
}

.speaker-qualification {
    font-style: italic;
    font-weight: 600;
    font-size: 0.8em;
    color: var(--red);
}

.speaker-underline {
    background-color: #d3d3d3;
    margin: 1em 0;
    width: 1.5em;
    height: 1px;
}

.sponsors-section {
    background-color: #272a31;
    color: #d3d3d3;
    padding: 2em 0;
}

.logos {
    padding: 0 .5em;
}

footer {
    position: absolute;
    top: 238rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    width: 100%;
    margin: 5rem auto;
}

.footer-logo img {
    width: 14rem;
}

@media screen and (max-width: 768px) {

    .top-header,
    .logo {
        display: none !important;
    }

    .main-menu {
        display: flex;
        flex-direction: column;
        background-color: #272a31;
        mix-blend-mode: multiply;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        color: white;
        padding: 2.25em;
        backdrop-filter: blur(15px);
    }

    .close {
        display: flex;
        flex-direction: row-reverse;
        font-size: 1.75em;
        cursor: pointer;
        align-items: center;
        padding-bottom: 3em;
    }

    .navitem {
        list-style: none;
    }

    .navlink {
        display: flex;
        flex-direction: column;
        color: white;
        text-decoration: none;
        font-size: 1.2em;
        font-weight: 700;
        line-height: 2em;
        padding-top: 0.5em;
        cursor: pointer;
        border-bottom: 1px solid rgb(211, 211, 211, 0.1);
    }

    .close:hover {
        color: var(--red);
    }

    .navlink:hover {
        color: var(--red);
    }

    .bar-menu {
        margin: 1rem;
    }

    header {
        top: 0%;
        position: absolute;
        z-index: 100;
    }

    .bar-menu {
        list-style: none;
    }

    .hamburger {
        font-size: 2em;
        padding: 1em;
        color: #272a31;
        z-index: 100;
    }

    .main-section {
        background-position: center;
        background-size: cover;
        position: absolute;
    }

    .overlay {
        position: absolute;
        top: 8rem;
        left: 1rem;
        width: 20rem;
    }

    .mobile-bg-img-container img {
        height: 62rem;
        position: absolute;
        top: 0;
        opacity: 0.5;
    }

    .bg-image-container {
        display: none;
    }

    .program-card {
        flex-direction: row;
        align-items: center;
        margin: .5rem 0rem;
        align-items: center;
        padding: 0.7em;
        color: #d3d3d3;
        margin-bottom: 0.5em;
        gap: 1em;
    }

    .card-desc {
        font-size: 0.8em;
        flex: 2;
    }

    .speakers-section {
        position: absolute;
        top: 228%;
    }

    .speaker-desc {
        font-size: .7em;
    }

    .speaker-card {
        gap: 1rem;
    }

    .sponsors-section {
        position: absolute;
        top: 222rem;
        width: 100%;
        margin: 5rem auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sponsors-logo img {
        width: 6em;
    }

    .toggler {
        display: flex !important;
    }

    .pop-up {
        display: none;
    }

    .desktop-bg-img-container {
        display: none;
    }
}

@media screen and (min-width:768px) {
    .bar-menu {
        display: none;
    }

    header {
        z-index: 1000;
        position: absolute;
        top: 0rem;
        width: 100%;
    }

    .navbar-style {
        background-color: #fff;
        box-shadow: 0 5px 15px -10px #272a31;
    }

    .top-header {
        display: flex;
        justify-content: flex-end;
        background-color: var(--black);
        color: #fff;
    }

    .logo img {
        width: 14rem;
    }

    .top-links-container {
        gap: 2rem;
    }

    .main-menu {
        display: flex !important;
        list-style: none;
        height: 5rem;
        align-items: center;
        gap: 4rem;
        /* text-decoration: none; */
        /* list-style: none; */
    }

    .title {
        font-size: 3.2em;
    }

    .navitem a {
        text-decoration: none;
        color: var(--black);
    }

    .close {
        display: none;
    }

    .mobile-bg-img-container {
        display: none;
    }

    .sponsors-section {
        position: absolute;
        top: 670%;
        padding: 2em 0;
    }

    .speakers-section {
        position: absolute;
        top: 450%;
        width: 100%;
    }

    .program-contents-container {
        position: absolute;
        top: 231%;
        width: 100%;
    }

    .program-details {
        display: flex;
        justify-content: center;
    }

    .program-card {
        flex-direction: column;
        text-align: center;
        margin: 0.2em;
        align-items: center;
        gap: 1rem;
        width: 10%;
        padding: 1rem 0;
    }

    .speaker-card {
        width: 50%;
    }

    .speaker-details {
        display: flex;
        flex-wrap: wrap;
        width: 80vw;
        margin: 2em auto;
    }

    .desktop-bg-img-container img {
        position: relative;
        width: 100%;
    }

    .overlay {
        position: absolute;
        top: 0rem;
        padding: 8em;
    }

    .sponsors-section {
        width: 100%;
        top: 670%;
    }

    .sponsors-section h2 {
        align-items: center;
    }

    .sponsors-logo {
        display: flex;
        justify-content: center;
    }

    .sponsors-logo img {
        width: 6em;
    }

    footer {
        position: absolute;
        margin: 0;
        top: 718%;
    }
}