@import url("https://use.typekit.net/tmp6bcj.css");

/* Lato Regular
font-family: "lato", sans-serif;
font-weight: 400;
font-style: normal;
Lato Bold
font-family: "lato", sans-serif;
font-weight: 700;
font-style: normal;
Lato Black
font-family: "lato", sans-serif;
font-weight: 900;
font-style: normal; */
:root {
    --black: #272A31;
    --red: #ec5242;
    --grey: #d3d3d3;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "lato", sans-serif;
    color: #fff;
}

.greet,
.header {
    color: var(--red);
}

.title {
    /* font-size: 72px; */
    background: -webkit-linear-gradient(var(--red), var(--black));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2em;
    font-weight: 700;
}

.subtitle {
    border: 3px solid white;
    background-color: #f4f4f4;
    color: #272a31;
    padding: 1em 0.5em;
}

.greet {
    font-weight: 500;
    font-size: 1.3em;
}

.header {
    font-size: 1.7em;
    font-weight: 600;
}

.venue {
    font-size: 1.25em;
}

.date {
    font-weight: 900;
    font-size: 1.8em;
    color: #272a31;
}

.program-contents-container {
    background-image: url('../images/bg-images/pattern_bg.png');
    background-color: #272a31;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    align-items: center;
    position: absolute;
    top: 100%;
    color: #fff;
}

.program-content>h2 {
    padding: 1.25em 0;
    color: white;
}

.underline {
    height: 1px;
    background-color: #ec5242;
    width: 2em;
    margin-top: 0.5em;
}

.program-card {
    margin: 2rem;
}

.program-card>img {
    width: 2.5rem;
}

.program-card h3 {
    font-size: 1em;
    font-weight: 700;
    width: 8ch;
    color: var(--red);
}

.program-details-link {
    color: var(--grey);
    text-decoration: none;
}

.join-btn {
    background: #ec5242;
    margin: 3em;
    border: none;
    padding: 1.25em 2em;
    font-size: 1em;
    color: white;
  }

@media screen and (max-width: 768px) {

    .top-header,
    .logo,
    .main-menu {
        display: none !important;
    }

    .bar-menu {
        margin: 1rem;
    }

    header {
        top: 0%;
        position: absolute;
        z-index: 100;
    }

    .bar-menu {
        list-style: none;
    }

    .hamburger {
        font-size: 2em;
        padding: 1em;
        color: #272a31;
        z-index: 100;
    }

    .main-section {
        /* background: (rgb(0,0,255,0.45),rgb(0,0,255,0.45),url('../images/pexels-tara-winstead-8386433.jpg')); */
        background-position: center;
        background-size: cover;
        /* height: 100%; */
        /* opacity: 0.7; */
        position: absolute;
    }

    .overlay {
        position: absolute;
        top: 8rem;
        left: 1rem;
        width: 20rem;
    }

    .mobile-bg-img-container img {
        height: 56rem;
        position: absolute;
        top: -8rem;
        opacity: 0.5;
    }

    .bg-image-container {
        display: none;
    }

    .program-card {
        flex-direction: row;
        align-items: center;
        margin: .5rem 0rem;
        align-items: center;
        padding: 0.7em;
        color: #d3d3d3;
        background-color: rgba(211, 211, 211, 0.1);
        margin-bottom: 0.5em;
        gap: 1em;
    }

    .card-desc {
        font-size: 0.8em;
        flex: 2;
    }
}